<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v">
  <!-- Macro for creating the main collisions as simple shapes. -->
  <xacro:macro name="main_collisions" params="prefix reflect:=1">

    <!-- Top part --> 
    <collision name="topPart">
      <origin xyz="0.95 -0.085 0.5"/>
      <geometry>
        <box size="1.5 1.1 0.12"/>
      </geometry>
    </collision>

    <!-- External sides -->
    <collision name="${prefix}_externalSide">
      <origin xyz="${0.95-0.05} ${((0.5-0.06875)*reflect)-0.085} ${0.5-0.29}"/>
      <geometry>
        <box size="1.35 0.13 0.67"/>
      </geometry>
    </collision>

    <!-- Internal sides -->
    <collision name="$prefix_internalSide">
      <origin xyz="${0.95-0.05} ${((0.446875-0.06875-0.065)*reflect)-0.085} ${0.5-0.25}"/>
      <geometry>
        <box size="1.35 0.15625 0.5"/>
      </geometry>
    </collision>

   <!-- Center part -->
    <collision name="centerPart">
      <origin xyz="${0.95-0.6125} -0.085 ${0.5-0.25}"/> <!-- ${0.95-0.4125} -0.085 ${2.95-0.25}" -->
      <geometry>
        <box size="0.20 0.5 0.5"/>
      </geometry>
    </collision>

   <!-- Botoom part -->
    <collision name="bottomPart">
      <origin xyz="0.95 -0.085 ${0.5-0.25-0.365}"/> <!--xyz="0.95 -0.085 ${2.95-0.25-0.38} -->
      <geometry>
        <box size="1.3 0.55 0.285"/> <!--size="1.35 0.55 0.285 -->
      </geometry>
    </collision>

<!-- COLLISIONS VISUALS
    <!- Top part ->
    <visual>
      <origin xyz="0.95 -0.085 0.5"/>
      <geometry>
        <box size="1.5 1.1 0.12"/>    
      </geometry>
    </visual>

    <!- External sides ->
    <visual>
      <origin xyz="${0.95-0.05} ${((0.5-0.06875)*reflect)-0.085} ${2.95-0.29}"/>
      <geometry>
        <box size="1.35 0.13 0.67"/>
      </geometry>
    </visual>

    <!- Internal sides ->
    <visual>
      <origin xyz="${0.95-0.05} ${((0.446875-0.06875-0.065)*reflect)-0.085} ${2.95-0.25}"/> 
      <geometry>
        <box size="1.35 0.15625 0.5"/>
      </geometry>
    </visual>

   <!- Center part ->
    <visual>
      <origin xyz="${0.95-0.6125} -0.085 ${2.95-0.25}"/> 
      <geometry>
        <box size="0.20 0.5 0.5"/>
      </geometry>
    </visual>

   <!- Botoom part ->
    <visual>
      <origin xyz="0.95 -0.085 ${2.95-0.25-0.365}"/> 
      <geometry>
        <box size="1.3 0.55 0.285"/> 
      </geometry>
    </visual>

-->

  </xacro:macro>

  <link name="base_link">
  </link>

  <joint name="dummy_joint" type = "fixed">
    <parent link="base_link"/>
    <child link="dummy_link"/>
  </joint>

  <!-- Basic model of the 16' WAM-V USV -->
  <link name="dummy_link">
    <visual>
      <origin xyz="0 0 -0.45" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wamv_description/models/WAM-V-Base/mesh/robot.stl"/>
        <!-- <box size = "0.1 0.01 0.1"/> -->
      </geometry>
    </visual>

    <!-- Left base collisions -->
    <xacro:main_collisions prefix="left" reflect="1" />

    <!-- Right side collisions -->
    <xacro:main_collisions prefix="right" reflect="-1" />

    <inertial>
      <!-- From WAM-V spec sheet -->
      <mass value="100.0"/>
      <inertia ixx="120.0" ixy="0.0" ixz="0.0" iyy="393" iyz="0.0" izz="446.0"/>
    </inertial>
    
  </link>

</robot>
